html, body {
	background-color: black;
	font-family: Times New Roman,serif, sans-serif,monospace,cursive;
	color: whitesmoke;
	height: 100%;
	width: 100%;
	font-size: 12pt;
}
::selection{
	background-color: gray;
}

header {
	display: flex;
	position: fixed;
	top: 0;
	padding: 0 1em;
	align-items: center;
	width: 100%;
	height: 10%;
	background-color: rgba(0,0,0,0.9);
	z-index: 2;
}

footer {
	height: 50px;
	background-color: rgba(255, 255, 255, 0.2);
	text-align: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: white;
}

header > span {
	display: flex;
	margin: 0 auto;
	padding: 0 1em;
}

header > span > h1 {
	display: block;
	padding: 0;
	color: whitesmoke;
	font-size: 200%;
	text-shadow: 5px 5px 5px black;
	text-transform: uppercase;
}

.main-menu {
	display: flex;
	margin: auto;
	padding: 0 1em 0 0;
	float: right;
}

.main-menu > ul {
	display: flex;
	list-style-type: none;
}

.main-menu > ul > a > li {
	display: block;
	margin: 0 0 0.25em;
	padding: 0.5em 1em;
	font-size: 110%;
	text-transform: uppercase;
	color: lightgray;
}

.main-menu > ul > a > li:hover {
	background-color: #1f1f1f;
}

.main-menu > ul > a > li.active {
	font-weight: bold;
	color: yellow;
	border-bottom: 2px solid yellow;
}

.content-fluid {
	margin: 5em 0 0;
	padding: 0;
	height: 100%;
}

.content-fluid > div.metahead{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80%;
	align-items: center;
	-webkit-filter: sepia(.8);
}

.content {
	margin: 5em 2em 0;
	padding: auto 2em;
	min-height: 800px;
	display: block;
}

.motto {
	width: 70%;
	display: block;
	position: relative;
	top: 50%;
	margin: auto;
	padding: 0.5em;
	color: black;
	text-shadow: 2px 2px dimgray;
	text-align: center;
	font-size: 1cm;
	background-color: rgba(255,255,255,.6);
	font-weight: bold;
}

.section {
	display: block;
	margin: 0;
	padding: 5em;
	min-height: 50%;
}

.section.bg-light {
	background-color: #111111;
}

.section .section-title {
	font-size: 20pt;
	width: 400px;
	margin: auto;
	padding: auto;
	color: yellow;
	font-weight: bolder;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 
		0 0 0 2px yellow,
		0 0 0 4px black,
		0 0 0 6px yellow;
}

.section > div {
	text-align: center;
}

.section > div > h2 {
	text-decoration: underline;
	text-align: center;
}

.section > div > span {
	text-align: left;
}

.section > div > span.context {
	margin: 2em 5em;
	padding: auto;
	float: left;
}
.section > div > span > ul {
	display: block;
	margin: auto;
	padding: auto;
}
