html {
	height: 100%;
	font-family: sans-serif, serif, fantasy, monospace, cursive;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

div {
	padding: 0.5em;
}

.container {
	background: rgba(255, 255, 255, 0.5);
}

.navbar-brand {
	font-size: xxx-large;
	font-family: cursive;
}